body {
  font-family: "Lato", sans-serif;
  background-image: url("https://img.freepik.com/free-photo/basketball-hardwood-court-floor_155003-8050.jpg");
  
}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.title {
        justify-content: center;
        text-align: center;
        padding-bottom: 300px;
        background-color: None;
        color: blue;
}
.container {
    font-size: 18px; /* Increased text to enable scrolling */
    margin-left: 100px;
    
}

.row{
  padding-bottom: 50px;
  background-color: white;
}

.form-select {
  width: auto;
}

.button {
  text-align: center;
}

.mybtn{
  background-color: #064579;
  width: auto;
  text-align: center;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}